# Folder hasil kompilasi
__pycache__/
*.py[cod]
# Database lokal 
*.db
*.sqlite3
# (password/key)
.env
# Folder virtual environment
venv/
env/
.venv-1/
.venv
# Mengabaikan semua file hasil upload lokal
frontend/uploads/
backend/uploads/

uploads/
data_pending/
data/
faiss_db/
processed_files.txt
