fastapi
uvicorn
sqlalchemy
python-dotenv==1.2.2
PyJWT==2.12.0
passlib[bcrypt]
psycopg2-binary
pydantic[email]
python-multipart
langchain-community
langchain-text-splitters
langchain-core
google-auth
requests
langchain-google-genai
pypdf
faiss-cpu
alembic
cryptography